<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Details</title>
</head>
<body>
<div>
<h1>{{event_name}}</h1>
    <p>Description: {{event_description}}</p>
    <p>Date de Debut: {{event_date}}</p>
</div>
    
    <!-- Add more event details as needed -->
</body>
</html>
