{# templates/coach_admin/stats.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Statistiques des coachs{% endblock %}

{% block body %}
    <h1>Statistiques des coachs</h1>

    <p>Nombre total de coachs enregistrés : {{ coachCount }}</p>
{% endblock %}
