{% extends 'base.html.twig' %}

{% block title %}Edit CoachClient{% endblock %}

{% block body %}
    <h1>Edit CoachClient</h1>

    {{ include('coach_client/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_coach_client_index') }}">back to list</a>

   
{% endblock %}
