<form method="post" action="{{ path('app_adhesion_delete', {'ida': adhesion.ida}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adhesion.ida) }}">

<div style="background-color: black; height: 20px;"></div>
   <div style="background-color: black;">
    <button class="btn" style="background-color: #F36100; color: white;">Delete</button>
    </div>
</form>
