{% extends 'base.html.twig' %}
{% block body %}
    <h1 style="background-color: black; color: white;"> Proceed with Paiement</h1>

    {{ include('paiement/_form.html.twig') }}

<div style="background-color: black; height: 20px;"></div>
   <div style="background-color: black;">
    <a href="{{ path('app_paiement_index') }}" class="btn" style="background-color: #F36100; color: white;">Back to List</a>
</div>
    
{% endblock %}
