<form method="post" action="{{ path('app_salle_delete', {'idS': salle.idS}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cette salle?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ salle.idS) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
