<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Flyer Design - 01</title>
  

</head>
<body>
<!-- partial:index.partial.html -->
<div class="outline">
    
    
     <h1><span>{{event_name}}</span><span>Report</span></h1>
     
     <div class="wrappy">
            <div class="img-wrap">
              {# <img class="img-city" src="{{ asset(event_photo) }}" alt=""> #}
            </div>
     </div>
     
     <div class="box"></div>
     
     <div class="bar bar--one"></div>
     <div class="bar bar--two"></div>
     
     <div class="triangle triangle--one"></div>
     
     <div class="footer">
       
       <h3>Your Headline</h3>
       <div class="numbers">
         <div class="number--one">
           <span>01</span>
           <p>Lorem ipsum dolor sit amet, inspector</p>
         </div>
         <div class="number--two">
           <span>02</span>
           <p>Lorem ipsum dolor sit amet, inspector</p>
         </div>
       </div>
       <p class="site">JasonDuquain.me</p>
       
     </div>
     
   </div>
<!-- partial -->
  
</body>
</html>
