<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Reservation Confirmation</h1>
    <p>Dear {{ username }},</p>
    <p>Your reservation for the event "{{ event_name }}" has been confirmed.</p>
    <!-- Add more content to the email as needed -->
    <p>your reservation id {{id_reservation}}</p>
</body>
</html>

