{% extends 'base.html.twig' %}

{% block title %}New Challenge{% endblock %}

{% block body %}
    <h1>Create new Challenge</h1>

    {{ include('challenge/_form.html.twig') }}

    <a href="{{ path('app_challenge_index') }}">back to list</a>
{% endblock %}
