{% extends 'base.html.twig' %}

{% block title %}Generate QR Code{% endblock %}

{% block body %}
    <div class="container">
        <img src="{{ qrCodeImage }}" alt="QR Code"> 
    </div>
{% endblock %}
